gin-petclinic-service/cmd/certs/myCA-without-passphrase.key
gin-petclinic-service/cmd/certs/myCA.key
gin-petclinic-service/cmd/certs/myCA.pem
/axum-petclinic-service/target/
/fiber-petclinic-service/air/tmp
fiber-petclinic-service/.env
/.zig-cache
/zap_petclinic_service/.zig-cache
AI/video_scripts.md
AI/ai_prompt_template.md
/zap-petclinic-service/.zig-cache
/fiber3-petclinic-service/bin
/fiber3-petclinic-service/tmp
